*{
	margin: 0;
	padding: 0;
}
body{
	background: #f0f0f0;
	display: flex;
	heigth: 100vh;
	aling-items: center;
	justify-content: center;
	position: relative;
.card{
	background: ehite;
	border-radius: 15px;
	width: 300px;
	text-align: center;
	posiion: relative;
}
.card-header img{
	width: 100px;
	heigth: 100px;
	margin-top: 20px;
	border-radius: 50px;
}
.card-body{
	padding: 15px;
}
.card-body h2{
	margin-bottom: 5px;
}